%clearfix {
  @include clearfix;
}

.clearfix {
  @extend %clearfix;
}

%cover {
  @include cover;
}

%visuallyhidden {
  @include visuallyhidden;
}

.visuallyhidden {
  @extend %visuallyhidden;
}

.no-desktop {
  @include desktop {
    display: none !important;
  }
}

.no-mobile {
  @include mobile {
    display: none !important;
  }
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
  @include tablet {
    display: none !important;
  }
}

.handheld-only {
  @include desktop {
    display: none !important;
  }
}
